<!DOCTYPE html>
<html lang="en">

  {% include "header.html" %}

  <body>

    {% include "navbar.html" %}

    <div class="panel panel-default">
      <div class="panel-heading">
	{{ANIMAL}}
      </div>
      <div class="panel-body">

	<form class="well" method="post" action="/animals/{{ANIMAL}}/sessions/new">
            <input type="text" placeholder="opt YYYY-MM-DD" name="date">
	    <button type="submit" class="btn btn-default">New Session</button>
	</form>

	<div class="well">
	  <a href="/animals/{{ANIMAL}}/sessions/new">
	    <button type="button" class="btn btn-primary">New Session</button>
	  </a>
	</div>

	{% for year in years %}
        <div class="panel panel-default">
          <div class="panel-heading">
            {{ANIMAL}} {{year}}
          </div>
          <div class="panel-body">
            {% for month in range(12,-1,-1) %}
            {% if toc[year][month]|length > 0 %}
            <div class="panel panel-default">
              <div class="panel-heading">
                {{ANIMAL}} {{year}} {{MONTHS[month]}}
              </div>
              <div class="panel-body">
                <div class="list-group">
                  {% for session in toc[year][month] %}
                  <a href="{{session}}" class="list-group-item">
                    {{session}}
		    <span class="glyphicon glyphicon-arrow-right"
			  aria-hidden="true"></span> 
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
	{% endfor %}
      </div>
    </div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>

</html>
