<DOCTYPE html>
<html lang="en">

  <head>
    {% include "header2.html" %}
    <script type="text/javascript"
	    src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>
    <script>
      // setup ZeroClipboard for all copy-buttons on page...
      $(document).ready(function() {
        var clip = new ZeroClipboard($('.copy-button'));
      });
    </script>

  </head>

  <body>

    {% include "navbar.html" %}


    <div class="container-fluid">
    <div class="panel panel-default">

      <div class="panel-heading">
	<h3>Attachment Directory: Page {{page}}/{{pages}}</h3>

	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/1">
	  <span class="glyphicon glyphicon-fast-backward"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/{{page-10}}">
	  <span class="glyphicon glyphicon-step-backward"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/{{page-1}}">
	  <span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/{{page+1}}">
	  <span class="glyphicon glyphicon-chevron-right"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/{{page+10}}">
	  <span class="glyphicon glyphicon-step-forward"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/10000">
	  <span class="glyphicon glyphicon-fast-forward"></span></a>
      </div>

      <div class="panel-body">
	{% for n in range(0, rows|length, 4) %}
	  <div class="row">
	    {% for k in range(4) %}
	      {% if (n+k) < rows|length %}
	        {% set r=rows[n+k] %}
	        <div class="col-sm-6 col-md-3">
		  <div class="thumbnail">
		    <a href="/attachments/{{'%d'|format(r['attachmentID'])}}/edit"
		       title="edit: #{{'%d'|format(r['attachmentID'])}} {{r['date']}}">
		      <img src="data:image/jpg;base64,{{r['data']|safe}}"
			   style="max-height: 100px;">
		    </a>
		    <div class="caption">
		      <a class="btn-sm btn-primary copy-button"
			      data-clipboard-text="&lt;elog:attach={{r['attachmentID']}}&gt;">copy</a>
		      <a class="btn-sm btn-primary" href="/search/attach={{'%d'|format(r['attachmentID'])}}">find</a>
		      <a class="btn-sm btn-danger"
			 onClick="bootbox.confirm('Really delete attachment?',
				  function(r) {if (r) window.location.href='/attachments/{{'%d'|format(r['attachmentID'])}}/deleteC'})">delete</a>
		      <h4>{{r['title']}} (#{{'%d'|format(r['attachmentID'])}})</h4>
		      {{r['note']}}
		    </div>
		  </div>
		</div>
	      {% endif %}
	    {% endfor %}
	  </div>
        {% endfor %}
      </div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>

</html>
