{% include "textarea-expand.html" %}

<table>
  <tr>
    <td valign="top">
      <a href="/attachments/{{'%d'|format(attachmentID)}}/edit"
	 title="edit: #{{'%d'|format(attachmentID)}} {{date}}">
	<img class="media-object"
	     src="data:image/jpg;base64,{{data|safe}}"
	     style="max-width: 700px;">
	</a>
    </td>
    <td valign="top">
      <h3>{{title}}</h3>

      {% for (code, content) in note %}
        {% if code == 0 %}
          <textarea class="note" readonly>{{content}}</textarea>
        {% else %}
          {{content|safe}}
        {% endif %}
      {% endfor %}
    </td>
  </tr>
</table>


