<div class="panel panel-default" style="margin-left: 25px;">
  <div class="panel panel-heading">
    <a href="/attachment/{{attachmentID}}/edit">
      <button type="button" class="btn btn-primary hidden-print">Edit</button>
    </a>
    #{{attachmentID}} {{title}}
  </div>
  <div class="panel panel-body">
    {% for (code, content) in note %}
      {% if code == 0 %}
        {{content}}<br>
      {% else %}
        {{content|safe}}
      {% endif %}
    {% endfor %}
  </div>
  <div class="panel panel-footer">
    {# technically we should specifiy the type, but jpg works with png.. #}
    <img src="data:image/jpg;base64,{{data|safe}}"
	 style="max-width: 700;">
  </div>
</div>  
