<DOCTYPE html>
<html lang="en">

  <head>
    {% include "header2.html" %}
    <script type="text/javascript"
	    src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>
    <script>
      // setup ZeroClipboard for all copy-buttons on page...
      $(document).ready(function() {
        var clip = new ZeroClipboard($('.copy-button'));
      });
    </script>

  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container">
    <div class="panel panel-default">

      <div class="panel-heading">
	<h3>Attachment Directory: Page {{page}}/{{pages}}</h3>

	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/1">
	  <span class="glyphicon glyphicon-fast-backward"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/{{page-10}}">
	  <span class="glyphicon glyphicon-step-backward"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/{{page-1}}">
	  <span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/{{page+10}}">
	  <span class="glyphicon glyphicon-chevron-right"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/{{page+1}}">
	  <span class="glyphicon glyphicon-step-forward"></span></a>
	<a class="btn btn-primary" role="button"
	   href="/attachments/showlist/10000">
	  <span class="glyphicon glyphicon-fast-forward"></span></a>
      </div>

      <div class="panel-body">
	<table border="1">
	  {% for r in rows %}
	    <tr>
	      <td style="text-align:center;">
		<a href="/attachments/{{'%d'|format(r['attachmentID'])}}/edit"
			title="edit: #{{'%d'|format(r['attachmentID'])}} {{r['date']}}">
		  <img src="data:image/jpg;base64,{{r['data']|safe}}"
		       style="max-height: 100px;">
		</a>
	      </td>
	      <td style="vertical-align: top;">
		<button class="copy-button"
			data-clipboard-text="&lt;elog:attach={{r['attachmentID']}}&gt;">copy</button>
		<a href="/search/attach={{'%d'|format(r['attachmentID'])}}">
		  <button>find</button>
		</a>
		<a href="/attachments/{{'%d'|format(r['attachmentID'])}}/delete">
		  <button>delete</button>
		</a>
		(#{{'%d'|format(r['attachmentID'])}})
		<h3>{{r['title']}}</h3>
		{{r['note']}}
	      </td>
	    </tr>
	  {% endfor %}
	</table>
      </div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>

</html>
