<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "header2.html" %}

    {% set boxid="animal-note" %}
    {% include "editbox.html" %}

  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container-fluid">
      
      <div class="well"><h3>Editing {{row['animal']}} metadata</h3></div>
      
      <form class="cmxform" id="editForm" method="post" action="{{action}}">
        <fieldset>
          <input type="hidden" name="lastmod" value="{{row['lastmod']}}">
          <input type="hidden" name="ID" value="{{row['ID']}}">
          <div class="panel panel-default col-sm-3" style="border: none;">
            <label for="animal">animal</label><input id="animal" name="animal" value="{{row['animal']}}"><br>
            <label for="idno">idno</label><input id="idno" name="idno" value="{{row['idno']}}"><br>
            <label for="dob">dob</label><input id="dob" name="dob" type="date" value="{{row['dob']}}"><br>
            <label for="living">living</label><input id="living" name="living" type="number" value="{{row['living']}}"><br>
            <label for="user">user</label><input id="user" name="user" value="{{row['user']}}"><br>
            <label for="date">date</label><input id="date" name="date" type="date" value="{{row['date']}}"><br>
          </div>
	</fieldset>
	
	<fieldset>
          <textarea id="{{boxid}}" name="note">{{row['note']}}</textarea>
	</fieldset>
	
        {% include "donesavecancel.html" %}
      </form>
    </div>

    <script>
      $("#editForm").validate();
    </script>


    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>


