<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "header2.html" %}

    {% set boxid="dfile-note" %}
    {% include "editbox.html" %}
  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container">

      <div class="well"><h1>Editing Datafile: {{row['src']}}</h1></div>

      <form class="cmxform" id="editForm" method="post" action="{{action}}">

        <label for="crap">crap</label>
        <input id="crap" type="checkbox"
               name="crap" {{ 'checked' if row['crap'] }}>

	<textarea style="width:100%;" rows="7"
		  id="dfile-note" name="note">{{row['note']}}</textarea>
	
	{% include "donesavecancel.html" %}
      </form>
    </div>

    <script>
      $("#editForm").validate();
    </script>


    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>


