<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "header2.html" %}

    {% set boxid="attachment-note" %}
    {% include "editbox.html" %}
  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container">

      <div class="well"><h1>Editing Attachment</h2></div>

      <form class="cmxform" id="editForm" method="post" action="{{action}}">
	<input type="hidden" name="attachmentID" value="{{row['attachmentID']}}">
	<p>
	  <label for="exper">title</label><input title id="title" name="title" value="{{row['title']}}">
	</p>
	<textarea style="width:100%;" rows="7"
		  id="attachment-note" name="note">{{row['note']}}</textarea>
	
	<img src="data:image/jpg;base64,{{row['data']|safe}}"
	     style="max-width: 700px;">

	{% include "donesavecancel.html" %}

      </form>
    </div>

    <script>
      $("#editForm").validate();
    </script>


    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>


