<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "header2.html" %}

    {% set boxid="exper-note" %}
    {% include "editbox.html" %}

  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container">

      <div class="well"><h1>Editing Experiment</h2></div>

      <form class="cmxform" id="editForm" method="post" action="{{action}}">
	<input type="hidden" name="exper" value="{{row['exper']}}">
	<fieldset>
	  <div>
	    <p>
	      <label for="exper">exper </label>
	      <input disabled id="exper" name="exper" value="{{row['exper']}}">
	    </p>
	  </div>
	</fieldset>
	<fieldset>
	  <textarea style="width:100%;" rows="7"
		    id="{{boxid}}" name="note">{{row['note']}}</textarea>
	</fieldset>
	
	{% include "donesavecancel.html" %}
      </form>
    </div>

    <script>
      $("#editForm").validate();
    </script>


    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>


