<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "header2.html" %}

    <script>
     $( document ).ready( function () {
      CodeMirror.defineSimpleMode("elog", {
        start: [
          {regex: /<elog:.*=.*>/, token: "strikethrough"},
        ]
      });
      var editor = CodeMirror.fromTextArea(document.getElementById('attachment-note'), {
	mode: "elog",
	lineNumbers: true
	});
      });
    </script>
  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container">

      <div class="well">Editing Attachment</div>

      <form class="cmxform" id="editForm" method="post" action="{{action}}">
	<input type="hidden" name="attachmentID" value="{{row['attachmentID']}}">
	<p>
	  <label for="exper">title</label><input title id="title" name="title" value="{{row['title']}}">
	</p>
	<textarea style="width:100%;" rows="7"
		  id="attachment-note" name="note">{{row['note']}}</textarea>
	
	<img src="data:image/jpg;base64,{{row['data']|safe}}"
	     style="max-width: 700px;">

	<div class="well">
	  {% if RW %}
	  <button class="btn btn-default" type="submit"
		  name="done">Done</button>
	  <button class="btn btn-default" type="submit" 
		  name="save">Save</button>
	  {% endif %}
	  <button class="btn btn-default" 
		  name="cancel">Cancel</button>
	  <input type="hidden" name="_back" value="{{request.referrer}}">
	</div>
      </form>
    </div>

    <script>
      $("#editForm").validate();
    </script>


    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>


