<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head;
	 any other head content must come *after* these tags -->
    <meta name="description" content="flask-based elog intervace">
    <meta name="author" content="jamie mazer">
    
    <title>elog</title>
    
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <!-- link href="/static/jquery.min.css" rel="stylesheet" -->

    <script type="text/javascript" 
	    src="/static/tinymce/js/tinymce/tinymce.min.js">
    </script>

    {#

    <script type="text/javascript">
      tinymce.init({
      selector: "textarea",
      theme: "modern",
      plugins: [ "insertdatetime,noneditable" ],
      toolbar1: "undo | redo | insertdatetime",
      insertdatetime_formats: [ "%Y-%m-%d", "%H%Mh: " ],
      menubar: false,
      statusbar: false,
      remove_linebreaks: false,
      noneditable_regexp: /<elog:.*>/g
      });

      function grabtext() {
	var x=tinyMCE.activeEditor.getContent({format:'text'});
	$("[name='plaintext']").val(x);
	}

    </script>
    #}

  </head>

  <body>

    {% include "navbar.html" %}

    <form method="post" action="{{action}}">

      <div class="container">
	<div class="panel panel-default">
	  <div class="panel panel-heading">
	    <h1>Warning: Don't edit pseudo tags {{ "<elog:blah,blah,blah>" }}</h1>
	  </div>
	  
	  <div class="panel panel-body">
	    <textarea name="plaintext" style="width:100%;" 
		      rows="20">{{text}}</textarea>
	  </div>

	  <div class="panel panel-footer">
	    <button class="btn btn-default" type="submit"
		    onclick="grabtext()"
		    name="done">Done</button>
	    <button class="btn btn-default" type="submit" 
		    onclick="grabtext()"
		    name="save">Save</button>
	    <button class="btn btn-default" 
		    name="cancel">Cancel</button>
	    <input type="hidden" name="back" value="{{request.referrer}}">
	    {# <input type="hidden" name="plaintext" value="unset"> #}
	  </div>
	</div>
      </div>
    </form>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>


