<script>
$(document).ready(function () {
     $('.collapse')
         .on('shown.bs.collapse', function() {
             $(this)
                 .parent()
                 .find(".glyphicon-chevron-right")
                 .removeClass("glyphicon-chevron-right")
                 .addClass("glyphicon-chevron-down");
             })
         .on('hidden.bs.collapse', function() {
             $(this)
                 .parent()
                 .find(".glyphicon-chevron-down")
                 .removeClass("glyphicon-chevron-down")
                 .addClass("glyphicon-chevron-right");
             });
         });
</script>

<div class="panel panel-default">
  <div class="panel panel-heading">
    {% if RW %}
      <a class="hidden-print" href="/expers/{{exper}}/edit">
        <button type="button" class="btn btn-primary hidden-print">Edit Exper</button>
      </a>
      <a class="hidden-print" href="/expers/{{exper}}/newunit">
        <button type="button" class="btn btn-primary hidden-print">New Unit</button>
      </a>
    {% endif %}
    {{exper}}
  </div>
  <div class="panel panel-body">
    <!-- general notes -->
    {% for (code, content) in note %}
      {% if code == 0 %}
        <tt>{{content}}</tt><br>
      {% else %}
        {{content|safe}}
      {% endif %}
    {% endfor %}

    <!-- units -->
    {% for unit in units %}
      <div class="panel panel-default">
        <div class="panel panel-heading">
          {% if RW %}
            <a class="hidden-print" 
               href="/expers/{{exper}}/units/{{unit['unit']}}/edit">
              <button type="button" class="btn btn-primary hidden-print">Edit Unit</button>
            </a>
            <a class="hidden-print"
               href="/expers/{{exper}}/units/{{unit['unit']}}/delete">
              <button type="button"
                      class="btn btn-danger pull-right hidden-print">Delete Unit</button>
            </a>
          {% endif %}
          {{exper}}:{{unit['unit']}}
        </div>
        <div class="panel panel-body">
          <div class="col-sm-3">
            <table class="table table-striped table-bordered">
              <tr>
                <td class="text-right" width="50%"><strong>date</strong></td>
                <td>{{unit['date']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>well</strong></td>
                <td>{{unit['well']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>well loc</strong></td>
                <td>{{unit['wellloc']}}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table table-striped table-bordered">
              <tr>
                <td class="text-right" width="50%"><strong>area</strong></td>
                <td>{{unit['area']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>hemi</strong></td>
                <td>{{unit['hemi']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>depth</strong></td>
                <td>{{unit['depth']}}um</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table table-striped table-bordered">
              <tr>
                <td class="text-right" width="50%"><strong>isol qual</strong></td>
                <td>{{unit['quality']}}/10</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>ori</strong></td>
                <td>{{unit['ori']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>color</strong></td>
                <td>{{unit['color']}}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table table-striped table-bordered">
              <tr>
                <td class="text-right" width="50%"><strong>rf loc</strong></td>
                <td>({{unit['rfx']|int}},{{unit['rfy']|int}})</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>rf rad</strong></td>
                <td>{{unit['rfr']|int}}px</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>lat</strong></td>
                <td>{{unit['latency']}}ms</td>
              </tr>
            </table>
          </div>
        </div>

        <!-- general notes -->
        {% for (code, content) in unit['note'] %}
          {% if code == 0 %}
            <tt>{{content}}</tt><br>
          {% else %}
            {{content|safe}}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    {% if dfiles|length < 1 %}
      <span class="label label-default">No Datafiles</span>
    {% else %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <div class="panel-title">
	    <button type="button" class="btn btn-default hidden-print">
            <a class="collapsed"
	       data-toggle="collapse" data-parent="#accordion"
	       href="#collapseOne">
	      <span class="badge">{{dfiles|length}}</span>
	      Datafiles
	      <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
	    </button>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            {% for d in dfiles %}
              <div class="panel panel-default">
                <div class="panel panel-heading">
		  <h3>
                  {% if RW %}
                    <a class="hidden-print" href="/dfile/{{d['dfileID']}}/edit">
                      <button type="button" class="btn btn-primary hidden-print">Edit Datafile</button>
                    </a>
                  {% endif %}
		  {% if d['crap'] %}
                    <strike>{{d['src']}}<</strike>
		  {% else %}
                    {{d['src']}}
		  {% endif %}
		  </h3>
                </div>
		{% if not (d['note']|length == 1 and d['note'][0][1]|length == 0) %}
                  <div class="panel panel-body">
                    {% for (code, content) in d['note'] %}
                      {% if code == 0 %}
                        <tt>{{content}}</tt><br>
                      {% else %}
                        {{content|safe}}
                      {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
              </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
    {% endif %}
  </div>
</div>
