{% include "textarea-expand.html" %}

<div class="panel panel-default panel-exper">
  <div class="panel panel-heading">
    {% if RW %}
      <a class="hidden-print btn btn-primary" href="/expers/{{exper}}/edit">Edit Exper</a>
      <a class="hidden-print btn btn-primary" href="/expers/{{exper}}/newunit">New Unit</a>
    {% endif %}
    {{exper}}
  </div>
  <div class="panel panel-body">
    <!-- general notes -->
    {% for (code, content) in note %}
      {% if code == 0 %}
        <textarea class="note" readonly style="width:100%; height:100%;">{{content}}</textarea>
      {% else %}
        {{content|safe}}
      {% endif %}
    {% endfor %}

    <!-- units -->
    {% for unit in units %}
      <div class="panel panel-default panel-unit">
        <div class="panel panel-heading">
          {% if RW %}
            <a class="btn btn-primary hidden-print" 
               href="/expers/{{exper}}/units/{{unit['unit']}}/edit">Edit Unit</a>
            <a class="btn btn-danger pull-right hidden-print"
               onClick="bootbox.confirm('Really delete {{exper}}:{{unit['unit']}}?',
                        function(r) {if (r) window.location.href='/expers/{{exper}}/units/{{unit['unit']}}/deleteC';})">Delete Unit</a>
          {% endif %}
          {{exper}}:{{unit['unit']}}
        </div>
        <div class="panel panel-body">
          <div class="panel panel-default col-sm-3">
            <div class="pbox-l col-sm-6">date</div>
            <div class="pbox-r col-sm-6">{{unit['date']}}&nbsp</div>

            <div class="pbox-l col-sm-6">well</div>
            <div class="pbox-r col-sm-6">{{unit['well']}}&nbsp</div>

            <div class="pbox-l col-sm-6">well loc</div>
            <div class="pbox-r col-sm-6">{{unit['wellloc']}}&nbsp</div>
          </div>
          <div class="panel panel-default col-sm-3">
            <div class="pbox-l col-sm-6">area</div>
            <div class="pbox-r col-sm-6">{{unit['area']}}&nbsp</div>

            <div class="pbox-l col-sm-6">hemi</div>
            <div class="pbox-r col-sm-6">{{unit['hemi']}}&nbsp</div>

            <div class="pbox-l col-sm-6">depth</div>
            <div class="pbox-r col-sm-6">{{unit['depth']}}um&nbsp</div>
          </div>
          <div class="panel panel-default col-sm-3">
            <div class="pbox-l col-sm-6">isol qual</div>
            <div class="pbox-r col-sm-6">{{unit['qual']}}/10&nbsp</div>

            <div class="pbox-l col-sm-6">ori</div>
            <div class="pbox-r col-sm-6">{{unit['ori']}}&nbsp</div>

            <div class="pbox-l col-sm-6">color</div>
            <div class="pbox-r col-sm-6">{{unit['color']}}&nbsp</div>
          </div>
          <div class="panel panel-default col-sm-3">
            <div class="pbox-l col-sm-6">rf loc</div>
            <div class="pbox-r col-sm-6">({{unit['rfx']|int}},{{unit['rfy']|int}})&nbsp</div>

            <div class="pbox-l col-sm-6">rf rad</div>
            <div class="pbox-r col-sm-6">{{unit['rfr']|int}}px&nbsp</div>

            <div class="pbox-l col-sm-6">lat</div>
            <div class="pbox-r col-sm-6">{{unit['latency']}}ms&nbsp</div>
          </div>

        <!-- general notes -->
        {% for (code, content) in unit['note'] %}
          {% if code == 0 %}
            <textarea class="note" readonly style="width:100%; height:100%;">{{content}}</textarea>
          {% else %}
            {{content|safe}}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    {% if dfiles|length < 1 %}
      <span class="label label-default">No Datafiles</span>
    {% else %}
      <ul class="list-group">
        {% for d in dfiles %}
          <li class="list-group-item">
            {% if RW %}
              <a class="btn btn-primary hidden-print" href="/dfile/{{d['ID']}}/edit">Edit</a>
            {% endif %}
            {% if d['crap'] %}
              <strike>{{d['src']}}</strike>
            {% else %}
              {{d['src']}}
            {% endif %}
            {% if d['note']|length > 0 and d['note'][0][1]|length > 0 %}
              <br>
              {% for (code, content) in d['note'] %}
                {% if code == 0 %}
                  <textarea class="note" readonly style="width:100%; height:100%;">{{content}}</textarea>
                {% else %}
                  {{content|safe}}
                {% endif %}
              {% endfor %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
