{% include "textarea-expand.html" %}

<div class="panel panel-default panel-exper">
  <div class="panel panel-heading">
    {% if RW %}
      <a class="hidden-print btn btn-primary" href="/expers/{{exper}}/edit">Edit Exper</a>
      <a class="hidden-print btn btn-primary" href="/expers/{{exper}}/newunit">New Unit</a>
    {% endif %}
    {{exper}}
  </div>
  <div class="panel panel-body">
    <!-- general notes -->
    {% for (code, content) in note %}
      {% if code == 0 %}
        <textarea class="note" readonly style="width:100%; height:100%;">{{content}}</textarea>
      {% else %}
        {{content|safe}}
      {% endif %}
    {% endfor %}

    <!-- units -->
    {% for unit in units %}
      <div class="panel panel-default panel-unit">
        <div class="panel panel-heading">
          {% if RW %}
            <a class="btn btn-primary hidden-print" 
               href="/expers/{{exper}}/units/{{unit['unit']}}/edit">Edit Unit</a>
            <a class="btn btn-danger pull-right hidden-print"
               href="/expers/{{exper}}/units/{{unit['unit']}}/delete">Delete Unit</a>
          {% endif %}
          {{exper}}:{{unit['unit']}}
        </div>
        <div class="panel panel-body">
          <div class="col-sm-3">
            <table class="table table-striped table-bordered">
              <tr>
                <td class="text-right" width="50%"><strong>date</strong></td>
                <td>{{unit['date']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>well</strong></td>
                <td>{{unit['well']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>well loc</strong></td>
                <td>{{unit['wellloc']}}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table table-striped table-bordered">
              <tr>
                <td class="text-right" width="50%"><strong>area</strong></td>
                <td>{{unit['area']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>hemi</strong></td>
                <td>{{unit['hemi']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>depth</strong></td>
                <td>{{unit['depth']}}um</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table table-striped table-bordered">
              <tr>
                <td class="text-right" width="50%"><strong>isol qual</strong></td>
                <td>{{unit['quality']}}/10</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>ori</strong></td>
                <td>{{unit['ori']}}</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>color</strong></td>
                <td>{{unit['color']}}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table table-striped table-bordered">
              <tr>
                <td class="text-right" width="50%"><strong>rf loc</strong></td>
                <td>({{unit['rfx']|int}},{{unit['rfy']|int}})</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>rf rad</strong></td>
                <td>{{unit['rfr']|int}}px</td>
              </tr>
              <tr>
                <td class="text-right" width="50%"><strong>lat</strong></td>
                <td>{{unit['latency']}}ms</td>
              </tr>
            </table>
          </div>
        </div>

        <!-- general notes -->
        {% for (code, content) in unit['note'] %}
          {% if code == 0 %}
	    <textarea class="note" readonly style="width:100%; height:100%;">{{content}}</textarea>
          {% else %}
            {{content|safe}}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    {% if dfiles|length < 1 %}
      <span class="label label-default">No Datafiles</span>
    {% else %}
      <ul class="list-group">
        {% for d in dfiles %}
          <li class="list-group-item">
            {% if RW %}
              <a class="btn btn-primary hidden-print" href="/dfile/{{d['dfileID']}}/edit">Edit</a>
            {% endif %}
	    {% if d['crap'] %}
              <strike>{{d['src']}}</strike>
	    {% else %}
              {{d['src']}}
	    {% endif %}
            {% if d['note']|length > 0 and d['note'][0][1]|length > 0 %}
	      <br>
              {% for (code, content) in d['note'] %}
                {% if code == 0 %}
                  <textarea class="note" readonly style="width:100%; height:100%;">{{content}}</textarea>
                {% else %}
                  {{content|safe}}
                {% endif %}
              {% endfor %}
            {% endif %}
          </li>
	{% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
