<!DOCTYPE html>
<html lang="en">

  <head>
  {% include "header2.html" %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker('setDate', new Date());
  });
  </script>
  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container-fluid">

      <div class="panel panel-default">
        <div class="well">
          <h3>{{ANIMAL}}: goto session by date</h3>
          Warning -- this will create a new session!
        </div>
        <div class="panel-body">

          <form class="well" method="post"
                action="/animals/{{ANIMAL}}/sessions/new">
              <input type="text" id="datepicker" name="date">
              <button type="submit"
                      class="btn btn-default">Create/Goto session </button>
          </form>
        </div>
      </div>
    </div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>

</html>
