<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="flask-based elog intervace">
<meta name="author" content="jamie mazer">

<title>elog</title>

<link href="/static/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/codemirror.css">
<link rel="stylesheet" media="screen" href="/static/screen.css">

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery.validate.min.js"></script>
<script src="/static/codemirror-compressed.js"></script>

<script>
<!-- this adds a simple 'elog' mode to the codemirror editor-->
$( document ).ready( function () {
  CodeMirror.defineSimpleMode("elog", {
    start: [ {regex: /<elog:.*=.*>/, token: "strikethrough"} ]
  });
});
</script>
