<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="flask-based elog interface">
<meta name="author" content="mazerj2006@gmail.com">

<title>elog</title>

<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/codemirror.css">
<link rel="stylesheet" href="/static/cmxformTemplate.css">
<link rel="stylesheet" href="/static/cmxform.css">
<link rel="stylesheet" href="/static/elog.css">

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery.validate.min.js"></script>
<script src="/static/codemirror-compressed.js"></script>

<script>
<!-- this adds a simple 'elog' mode to the standard codemirror editor-->
$( document ).ready( function () {
  CodeMirror.defineSimpleMode("elog", {
    start: [ {regex: /<elog:.*=.*>/, token: "strikethrough"} ]
  });
});
</script>


