<!DOCTYPE html>
<html lang="en">

  {% include "header.html" %}

  <body>

    {% include "navbar.html" %}

    <div class="container">

      <div class="panel panel-default col-sm-5">
	<div class="panel panel-heading">
	  Animals in database
	</div>
	<div class="panel panel-body">
	  <ul class="list-group">
	    {% for a in ANIMALS %}
            <li class="list-group-item">
	      <a href="/animals/{{a}}">
		<button type="button"
			class="btn btn-primary btn-lg" style="width:25%;">{{a}}</button>
	      </a>
	      <a href="/animals/{{a}}/weight/plot">
		<button type="button"
			class="btn btn-primary btn">weights</button>
	      </a>
	      <a href="/animals/{{a}}/fluid/plot">
		<button type="button"
			class="btn btn-primary btn">fluid</button>
	      </a>
	      <a href="/animals/{{a}}/edit">
		<button type="button"
			class="btn btn-warning">Edit</button>
	      </a>
	      <a href="/animals/{{a}}/delete">
		<button type="button"
			class="btn btn-danger pull-right">Delete</button>
	      </a>
	    </li>
	    {% endfor %}
	</div>
	<div class="panel panel-footer">
	<a href="/animals/new">
	  <button type="button"
		  class="btn pull-right">Add New Animal
	  </button>
	</a>
	</div>
      </div>
    <div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>
