<!DOCTYPE html>
<html lang="en">

  {% include "header.html" %}

  <body>

    {% include "navbar.html" %}

    <div class="container-fluid">

      <div class="panel panel-default">

	<div class="panel panel-heading">
	  <h1>Animals in database</h1>
	</div>

	<div class="panel panel-body">
	  <div class="btn-group-vertical">
	    {% for a in ANIMALS %}
	    <ul>
	      <div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle"
			  type="button" id="dropdownMenu{{animal}}" style="width:100%;"
			  data-toggle="dropdown" aria-expanded="false">
		    {{a}} <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu"
		      aria-labelledby="dropdownMenu{{animal}}">
		    <li role="presentation"><a role="menuitem" tabindex="-1"
					       href="/animals/{{a}}">Directory</a></li>
		    <li role="presentation" class="divider"></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1"
					       href="/animals/{{a}}/sessions/today">{{"Today!"|blue|safe}}</a></li>
		    <li role="presentation" class="divider"></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1"
					       href="/animals/{{a}}/fluid/plot">Fluids</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1"
					       href="/animals/{{a}}/weight/plot">Weights</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1"
					       href="/animals/{{a}}/edit">Edit</a></li>
		    <li role="presentation" class="divider"></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1"
					       href="/animals/{{a}}/delete">{{"Delete"|red|safe}}</a></li>
		  </ul>
	      </div>
	    </ul>
	    {% endfor %}
	  </div>
	</div>

	<div class="panel panel-footer">
	  <a href="/animals/new">
	    <button class="btn btn-default" type="button" ="btn">Add New Animal</button>
	  </a>
	</div>

      </div>
    </div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>
