<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">ELOG Login</h2>

        <input type="text" name="username" class="form-control" placeholder="mlab login" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login in</button>
      </form>
      
    </div> <!-- /container -->
  </body>
</html>
