<!DOCTYPE html>
<html lang="en">

  {% include "header.html" %}

  <body>

    {% include "navbar.html" %}

    <div class="container">
      <div class="panel panel-warning">
	<div class="panel panel-heading">
	  {{header}}
	</div>
	<div class="panel panel-body">
	  {{message}}

	{% if goto|length > 1 %}
	  <a href="{{goto[1]}}">
	    <button>{{goto[0]}}</button>
	  </a>
	{% endif %}
	</div>
      </div>
    </div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>
