<!DOCTYPE html>
<html lang="en">

  {% include "header.html" %}

  <body>

    {% include "navbar.html" %}

    <div class="container-fluid">
      {% for animal in animals %}
        <div class="panel panel-default" style="page-break-after: always;">
          <div class="panel panel-heading">
            <h4>Monthly Report: {{animal}} {{startdate[:-3]}}</h4>
          </div>

          <div class="panel panel-body">
            <table class="table table-striped table-bordered"
                   style="font-family:monospace">
              <tr>
                {% for e in header %}
                  <th><strong>{{e|safe}}</strong></th>
                {% endfor %}
              </tr>
                {% for row in data[animal] %}
                <tr>
                  {% for e in row %}
                    <td>{{e|safe}}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include "js.html" %}
    {% include "footer.html" %}

  </body>

</html>

