<!DOCTYPE html>
<html lang="en">

  {% include "header.html" %}

  <body>

    {% include "navbar.html" %}

    <div class="container-fluid">
      <div class="panel panel-warning">
	<div class="panel panel-heading">
	  {{message}}
	</div>
	<div class="panel panel-body">
	  <div class="btn-group-horizontal" role="group">
	    {% for item in items %}
	    <button class="btn btn-default"><a href="{{item}}">{{item}}</a></button>
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>
</html>
