<div class="modal" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" style="height: 95%; width: 95%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editing session</h4>
      </div>
      <div id="mbody" class="modal-body"></div>
    </div>
  </div>
</div>

<script>
$("#editModal").on('show.bs.modal', function() {
  // load data from url when shown
  $("#mbody").load('/animals/{{animal}}/sessions/{{date}}/edit');
  });
$("#editModal").on('hidden.bs.modal', function() {
  // make this page reload when editModal is closed
  window.location.reload(true);
  });
</script>


<div class="container">
  <div class="panel panel-info">
    <div class="panel panel-heading">
      {% if RW %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit Session</button>
      <a class="hidden-print"
	 href="/animals/{{animal}}/sessions/{{date}}/newexper">
	<button type="button" class="btn btn-primary">New Exper</button>
      </a>
      {% endif %}
      {{date}} {{animal}}
    </div>
    <div class="panel panel-body">
      <div class="col-sm-2">
        <table class="table table-striped table-bordered">
          <tr>
            <td class="text-right" width="50%"><strong>animal</strong></td>
            <td>{{animal}}</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>date</strong></td>
            <td>{{date}}</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>user</strong></td>
            <td>{{user|blue|safe}}@{{computer}}</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>rest,tested</strong></td>
            <td>{{restricted|safe}} {{tested|safe}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-2">
        <table class="table table-striped table-bordered">
          <tr>
            <td class="text-right" width="50%"><strong>ncorr</strong></td>
            <td>{{ncorrect}}</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>ntrials</strong></td>
            <td>{{ntrials}}</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>water</strong></td>
            <td>{{water_work}}+{{water_sup}}+{{fruit_ml}}ml</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><em>totalfluid</em></td>
            <td>{{totalfluid}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-2">
        <table class="table table-striped table-bordered">
          <tr>
            <td class="text-right" width="50%"><strong>weight</strong></td>
            <td>{{weight}}kg</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>thweight</strong></td>
            <td>{{thweight}}kg</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>food</strong></td>
            <td>{{food}} biscs</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>fruit</strong></td>
            <td>{{fruit}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-3">
        <table class="table table-striped table-bordered">
          <tr>
            <td class="text-right" width="50%"><strong>dtb</strong></td>
            <td>{{dtb_ml}}ml [{{dtb}}ml/kg]</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>xdtb</strong></td>
            <td>{{xdtb}}ml [{{xdtb}}ml/kg]</td>
          </tr>
          <tr>
            <td class="text-right" width="50%"><strong>st/ur/sk/pcv</strong></td>
            <td>
	      {{health_stool|safe}}
	      {{health_urine|safe}}
	      {{health_skin|safe}}
	      {{health_pcv|safe}}
	    </td>
          </tr>
        </table>
      </div>
    </div>

    {% for (code, content) in note %}
    {% if code == 0 %}
    <tt>{{content}}</tt><br>
    {% else %}
    {{content|safe}}
    {% endif %}
    {% endfor %}
  </div>
</div>
