<!DOCTYPE html>
<html lang="en">

  <head>
  {% include "header2.html" %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker('setDate', new Date());
  });
  </script>
  </head>

  <body>

    {% include "navbar.html" %}

    <div class="panel panel-default">
      <div class="panel-heading">
	<h1>{{ANIMAL}} session list</h1>
      </div>
      <div class="panel-body">

	<form class="well" method="post"
	      action="/animals/{{ANIMAL}}/sessions/new">
            <input type="text" id="datepicker" name="date">
	    <button type="submit"
		    class="btn btn-default">Create/Goto session </button>
	</form>

	{% for year in years %}
        <div class="panel panel-default">
          <div class="panel-heading">
            {{year}}
          </div>
          <div class="panel-body">
            {% for month in range(12,-1,-1) %}
              {% if toc[year][month]|length > 0 %}
                <div class="panel panel-default">
		  <div class="panel-heading">
                    {{MONTHS[month]}} {{year}}
		  </div>
		  <div class="panel-body">
                    <div class="btn-group-vertical">
                      {% for (label, session) in toc[year][month] %}
		        <li class="list-group-item">
		          <a href="{{session}}">
			    <button class="btn btn-default">{{label|safe}}</button>
			  </a>
		        </li>
                      {% endfor %}
                    </div>
		  </div>
		</div>
              {% endif %}
	    {% endfor %}
          </div>
        </div>
	{% endfor %}
      </div>
    </div>

    {% include "footer.html" %}
    {% include "js.html" %}

  </body>

</html>
